<!--<h1  mat-dialog-title> {{ title }} </h1>-->
<!--<div mat-dialog-content>-->
<!--  <div class="">{{ message }}</div>-->
<!--</div>-->
<!--<div mat-dialog-actions [align]="'end'">-->
<!--  <button class="btn" mat-raised-button color="primary" mat-dialog-close> D'accord </button>-->
<!--</div>-->

<div>
  <div>{{data}}</div>
<!--  <div class="dismiss">-->
<!--    <button mat-icon-button (click)="sbRef.dismiss()">-->
<!--      <mat-icon>person</mat-icon>-->
<!--    </button>-->
<!--  </div>-->
</div>
