<h1  mat-dialog-title> {{ title }} </h1>
<div class="" *ngIf="errorMessage">{{ errorMessage }}</div>
<div mat-dialog-content>
  <form [formGroup]="ReseauForm">
    <mat-form-field appearance="outline">
      <mat-label> Code Reseau </mat-label>
      <input formControlName="code" matInput placeholder="Code Reseau">
      <mat-error *ngIf="ReseauForm.controls['code'].errors">
        {{getErrorMessage(ReseauForm.controls['code'].errors)}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label> Libelle Reseau </mat-label>
      <input formControlName="name" matInput placeholder="Libelle Reseau">
      <mat-error *ngIf="ReseauForm.controls['name'].errors">
        {{getErrorMessage(ReseauForm.controls['name'].errors)}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Liste Agent</mat-label>
      <mat-select (selectionChange)="filter($event)" formControlName="accesCollection" multiple>
        <mat-select-trigger *ngIf="valueUser[0]">
          {{valueUser[0].name || ''}}
          <span  *ngIf="valueUser && (valueUser.length || 0) > 1" class="example-additional-selection">
        (+{{(valueUser.length || 0) - 1}} {{valueUser.length === 2 ? 'autre' : 'autres'}})
      </span>
        </mat-select-trigger>
        <mat-option *ngFor="let acces of accesList" [value]="acces">{{acces?.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button style="margin-left:8px;" mat-raised-button color="primary" (click)="addReseau()"> {{actionBtn}} </button>
  <button mat-raised-button color="warn" mat-dialog-close> Fermer </button>
</div>
