<h1  mat-dialog-title> {{ title }} </h1>
<div mat-dialog-content>
  <form [formGroup]="sousReseauForm">
    <mat-form-field appearance="outline">
      <mat-label> Nom </mat-label>
      <input formControlName="name" matInput placeholder="Nom">
      <mat-error *ngIf="sousReseauForm.controls['name'].errors">
        {{getErrorMessage(sousReseauForm.controls['name'].errors)}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label> Username </mat-label>
      <input formControlName="username" matInput placeholder="Username">
      <mat-error *ngIf="sousReseauForm.controls['username'].errors">
        {{getErrorMessage(sousReseauForm.controls['username'].errors)}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label> Telephone </mat-label>
      <input type="tel" formControlName="number" matInput placeholder="Example: 70 765 65 65">
      <mat-error *ngIf="sousReseauForm.controls['number'].errors">
        {{getErrorMessage(sousReseauForm.controls['number'].errors)}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label> Email </mat-label>
      <input formControlName="email" matInput placeholder="Email">
      <mat-error *ngIf="sousReseauForm.controls['email'].errors">
        {{getErrorMessage(sousReseauForm.controls['email'].errors)}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label> Profil </mat-label>
      <mat-select formControlName="roles" placeholder="Choisir le profil">
        <mat-option *ngFor="let option of options" [value]="option.id">{{option.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="sousReseauForm.controls['roles'].errors">
        {{getErrorMessage(sousReseauForm.controls['roles'].errors)}}
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button style="margin-left:8px;" mat-raised-button color="primary" (click)="addUser()"> {{actionBtn}} </button>
  <button mat-raised-button color="warn" mat-dialog-close="false"> Fermer </button>
</div>
