<div class="containerTable">
  <div style="margin-top: 10px;">
    <button class="btnAdd blue-border" (click)="add()" mat-raised-button color="primary" >
      <mat-icon>add_circle_outline</mat-icon>
      Ajouter un Sous-Compte
    </button>

    <button class="btnAdd" (click)="addAccesToSousCompte()" mat-stroked-button color="primary">
      <mat-icon>add_circle_outline</mat-icon>
      Affecter un agent
    </button>


    <mat-form-field appearance="fill">
      <mat-label>Recherche</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filtrer le reseau" #input>
    </mat-form-field>

    <mat-progress-bar *ngIf="!load" mode="query"></mat-progress-bar>

    <div class="mat-elevation-z8">
      <table mat-table
             [dataSource]="dataSource" multiTemplateDataRows
             class="mat-elevation-z1" matSort>

        <!-- SOUS COMPTE NAME Column -->
        <ng-container matColumnDef="sousCompteName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sous Compte </th>
          <td mat-cell *matCellDef="let row"> {{row.sousCompteName}} </td>
        </ng-container>

<!--        &lt;!&ndash; COMPTE Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="compte">-->
<!--          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom du compte </th>-->
<!--          <td mat-cell *matCellDef="let row"> {{row.compte.compteName}} </td>-->
<!--        </ng-container>-->

        <!-- SOUS RESEAU Column -->
        <ng-container matColumnDef="sreseau">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sous Réseau </th>
          <td mat-cell *matCellDef="let row"> {{row.sreseau.sousReseauName}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions1"> Action</th>
          <td mat-cell *matCellDef="let element">
            <div class="element-action">
              <button mat-icon-button #tooltip="matTooltip"
                      color="primary"
                      matTooltip="Modifier"
                      matTooltipPosition="left"
                      (click)="update(element)">
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button #tooltip="matTooltip"
                color="warn"
                matTooltip="Supprimer"
                matTooltipPosition="after"
                (click)="delete(element)">
                <mat-icon>delete</mat-icon>
              </button>
            </div> </td>
        </ng-container>

        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
              <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="example-element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <table class="mat-table" >
                <tr class="mat-header-row">
                  <th class="mat-header-cell">Agent</th>
                  <th class="mat-header-cell">Profil</th>
                </tr>
                <tbody *ngFor="let agent of element.accesCollection">
                  <tr class="mat-row" *ngIf="agent">
                    <td class="mat-cell">{{ agent.name}}</td>
                    <td class="mat-cell">{{ agent.roles.name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        <tr *matNoDataRow class="mat-row">
          <td class="mat-cell" colspan="5" *ngIf="input.value">Aucune recherche correspondant à "{{input.value}}"</td>
          <td class="mat-cell" colspan="5" *ngIf="!input.value">Vous n'avez aucun sous-compte dans votre espace</td>
        </tr>
      </table>

      <mat-paginator showFirstLastButtons [pageSizeOptions]="[8, 25, 75, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>
