<div class="containerTable">
  <div style="margin: 10px;">

    <button (click)="addTransaction()" class="btnAdd" color="primary" mat-raised-button>
      <mat-icon>add_circle_outline</mat-icon>
      Effectuer une transaction
    </button>

    <button (click)="exportIt()" class="btnAdd" color="primary" mat-stroked-button>
      <mat-icon>save_alt</mat-icon>
      Exporter
    </button>

    <mat-form-field appearance="fill">
      <mat-label>Recherche</mat-label>
      <input #input (keyup)="applyFilter($event)" matInput placeholder="Filtrer la transaction">
    </mat-form-field>

    <mat-form-field appearance="fill" style="float: right; width: 300px; margin-right: 10px">
      <mat-label> Statut Transaction </mat-label>
      <mat-select placeholder="Statut Transaction" (selectionChange)="selectStatus($event)">
        <mat-option *ngFor="let statut of listS" [value]="statut">{{ statut }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-progress-bar *ngIf="!load" mode="query"></mat-progress-bar>

    <div class="mat-elevation-z8">
      <table #exporter="matTableExporter" [dataSource]="dataSource" mat-table matSort matTableExporter>

<!--        &lt;!&ndash; Profil Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="dateTransaction">-->
<!--          <th *matHeaderCellDef mat-header-cell mat-sort-header> Date Transaction</th>-->
<!--          <td *matCellDef="let row" mat-cell> {{row.dateTransaction | date:'shortDate'}} </td>-->
<!--        </ng-container>-->

<!--        <ng-container matColumnDef="scompte">-->
<!--          <th *matHeaderCellDef mat-header-cell mat-sort-header> Intitule Sous Compte</th>-->
<!--          <td *matCellDef="let row" mat-cell> {{row.scompte.sousCompteName}} </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Identifiant Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="service">-->
<!--          <th *matHeaderCellDef mat-header-cell mat-sort-header> Service</th>-->
<!--          <td *matCellDef="let row" mat-cell> {{row.service.serviceName}} </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Identifiant Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="montant">-->
<!--          <th *matHeaderCellDef mat-header-cell mat-sort-header> Montant</th>-->
<!--          <td *matCellDef="let row" mat-cell> {{row.montant | currency:'XOF':'symbol':'2.0-3': 'fr' }} </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Identifiant Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="statut">-->
<!--          <th *matHeaderCellDef mat-header-cell mat-sort-header> Statut</th>-->
<!--          <td *matCellDef="let row" mat-cell>-->
<!--            <div [ngClass]="{'success-trans': ['FINISHED'].includes(row.statut), 'sent-trans': row.statut === 'SENT',-->
<!--              'initiated-trans': row.statut === 'INITIATED', 'failed-trans': row.statut === 'SUSPICIOUS'-->
<!--              , 'successTrans': row.statut === 'SUCCESS', 'failedTrans': row.statut === 'FAILED'}">-->
<!--              {{row.statut }}-->
<!--            </div>-->
<!--          </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Identifiant Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="commission">-->
<!--          <th *matHeaderCellDef mat-header-cell mat-sort-header> Commission</th>-->
<!--          <td *matCellDef="let row" mat-cell> {{row.commission | currency:'XOF':'symbol' }} </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Statut Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="typeTransaction">-->
<!--          <th *matHeaderCellDef mat-header-cell mat-sort-header> Type de Transaction</th>-->
<!--          <td *matCellDef="let row" mat-cell> {{removeUnderscore(row.typeTransaction) | titlecase}} </td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Statut Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="destinataire">-->
<!--          <th *matHeaderCellDef mat-header-cell mat-sort-header> Beneficiaire</th>-->
<!--          <td *matCellDef="let row" mat-cell> {{row.destinataire}} </td>-->
<!--        </ng-container>-->

        <ng-container matColumnDef="dateTransaction">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Transaction </th>
          <td mat-cell *matCellDef="let row"> {{row.dateTransaction | date:'dd/MM/yyyy HH:mm:ss'}} </td>
        </ng-container>

        <ng-container matColumnDef="point">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Intitule Point </th>
          <td mat-cell *matCellDef="let row"> {{row.points.name}} </td>
        </ng-container>

        <!-- Identifiant Column -->
        <ng-container matColumnDef="service">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Service </th>
          <td mat-cell *matCellDef="let row"> {{row.service.serviceName}} </td>
        </ng-container>

        <!-- Identifiant Column -->
        <ng-container matColumnDef="expediteur">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero Expediteur </th>
          <td mat-cell *matCellDef="let row"> {{row.numexpeditaire}} </td>
        </ng-container>

        <!-- Identifiant Column -->
        <ng-container matColumnDef="montant">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant </th>
          <td mat-cell *matCellDef="let row"> {{row.montant | currency:'XOF':'symbol' }} </td>
        </ng-container>

        <ng-container matColumnDef="typeTransaction">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type de Transaction </th>
          <td mat-cell *matCellDef="let row"> {{row.typeTransaction}} </td>
        </ng-container>

        <!-- Statut Column -->
        <ng-container matColumnDef="destinataire">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Destinataire </th>
          <td mat-cell *matCellDef="let row"> {{row.numdestinataire}} </td>
        </ng-container>

        <!-- Identifiant Column -->
        <ng-container matColumnDef="statut">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
          <td mat-cell *matCellDef="let row"> {{row.statut }} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
          <td mat-cell  *matCellDef="let row" >
            <button mat-icon-button #tooltip="matTooltip"
                    color="primary"
                    matTooltip="detail"
                    matTooltipPosition="left"
                    (click)="detail(row)">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

        <!-- Row shown when there is no matching data. -->
        <tr *matNoDataRow class="mat-row">
          <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator showFirstLastButtons [pageSizeOptions]="[8, 25, 75, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
</div>
