.containerTable{
  max-width: 1200px;
  margin: 0 auto;
}
/* Structure */
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 40%;
  margin-bottom: 2rem;
}

.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 40%;
  margin-bottom: 2rem;
}

//.btnSearchAdd{
//  margin-top: 2rem;
//  button{
//    float: right;
//    height: 50px;
//  }
//  mat-form-field{
//    width: 40%;
//  }
//}
.btnAdd{
  float: right;
  height: 50px;
  margin-left: 20px;
}

.mat-stroked-button {
  border: 1px solid currentColor;
  padding: 0 15px;
  line-height: 34px;
}
