<div class="alignMyItems" mat-dialog-title>
  <p>{{title }} contrôle </p>
  <img matDialogClose="r1" src="assets/fromFigma/closecircle.svg" alt="Fermer">
</div>

<div matDialogContent [formGroup]="cTransacForm">
  <mat-form-field appearance="outline">
    <mat-label> Service à contrôler</mat-label>
    <mat-select formControlName="service" placeholder="Choisir le service à contrôler" (selectionChange)="onChooseService()">
      <mat-option *ngFor="let service of listServices$ | async" [value]="service.id">{{service.serviceName}}</mat-option>
    </mat-select>
    <mat-error *ngIf="cTransacForm.controls['service'].errors">
      {{getErrorMessage(cTransacForm.controls['service'].errors)}}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Point à contrôler</mat-label>
    <mat-select formControlName="points" placeholder="Choisir le Sous-compte à contrôler" (selectionChange)="onChooseSousCompte()">
      <mat-option *ngFor="let point of listPoints" [value]="point.id">{{point.name}}</mat-option>
    </mat-select>
    <mat-error *ngIf="cTransacForm.controls['points'].errors">
      {{getErrorMessage(cTransacForm.controls['points'].errors)}}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label> Montant Seuil </mat-label>
    <input formControlName="montantSeuil" matInput placeholder="Montant Seuil ex: 107 500 000">
    <mat-error *ngIf="cTransacForm.controls['montantSeuil'].errors">
      {{getErrorMessage(cTransacForm.controls['montantSeuil'].errors)}}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label> Montant Seuil Hebdomadaire </mat-label>
    <input formControlName="montantHebdomadaire" matInput placeholder="Montant autorisé dans la semaine">
    <mat-error *ngIf="cTransacForm.controls['montantHebdomadaire'].errors">
      {{getErrorMessage(cTransacForm.controls['montantHebdomadaire'].errors)}}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label> Montant Seuil Journalier </mat-label>
    <input formControlName="montantJournalier" matInput placeholder="Montant autorisé par jour">
    <mat-error *ngIf="cTransacForm.controls['montantJournalier'].errors">
      {{getErrorMessage(cTransacForm.controls['montantJournalier'].errors)}}
    </mat-error>
  </mat-form-field>
  <div>
    <mat-form-field appearance="outline">
      <mat-label> Heure de Début </mat-label>
      <input type="time" formControlName="heureDebut" matInput placeholder="Heure à partir de laquelle est autorisé d'effectuer la transaction">
      <mat-error *ngIf="cTransacForm.controls['heureDebut'].errors">
        {{getErrorMessage(cTransacForm.controls['heureDebut'].errors)}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label> Heure de Fin </mat-label>
      <input type="time" formControlName="heureFin" matInput placeholder="Heure à partir de laquelle n'est plus autorisé d'effectuer la transaction">
      <mat-error *ngIf="cTransacForm.controls['heureFin'].errors">
        {{getErrorMessage(cTransacForm.controls['heureFin'].errors)}}
      </mat-error>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions [align]="'center'">
  <button mat-raised-button color="warn" [disabled]="cTransacForm.invalid" (click)="addControl()"> {{actionBtn}} </button>
</div>
