<nav class="navbar navbar-expand-lg navbar-light bg-light " id="mainNav">
  <div class="container">
    <img src="assets/fromFigma/SiteLogo.svg" alt="Logo du site">
    <a class="navbar-brand">Espace Commerçant</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} routerLink="dashboard">Vue d'ensemble</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="acces">Agents</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="reseaux">Reseaux</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="transactions">Transactions</a></li>
        <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="control">Contrôleurs des transactions</a></li>
        <button mat-button [matMenuTriggerFor]="menu">
          {{ authService.getRole()}} <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onUpdateProfil()"><mat-icon>perm_identity</mat-icon> Profil </button>
          <button mat-menu-item (click)="changePasse()"><mat-icon>update</mat-icon> Changer Mot de passe</button>
          <button mat-menu-item (click)="logout()"><mat-icon>subdirectory_arrow_right</mat-icon> Deconnexion</button>
        </mat-menu>
      </ul>
    </div>
  </div>
</nav>
<mat-sidenav-container class="app-container">
  <mat-sidenav-content class="app-sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
