img:first-of-type{
  margin-right: 1rem;
}
.content-body{
  min-height: 100%;
  padding: 60px 1rem;
  background: aliceblue;
  display: block;
}
.example-spacer {
  flex: 1 1 auto;
}

.toolbar-user{
  width: 100% ;
  display: inline-flex;
  //margin-top: 1rem;
  mat-button{
    margin-right:10px;
  }
}

.user-profil{
  flex: 1 1 auto;
}

mat-sidenav-container{
  height: 100%;
}

mat-sidenav, mat-sidenav-content {
  padding: 16px;
}

ul{
  display: flex;
  -webkit-box-align: center;
  justify-content: end;
}
li{
  padding: 6px 10px;
  margin-right: 5px;
  display: inline-block;
  position: relative;
}
.divInfo{
  cursor: pointer;
  margin: 10px;
  display: grid;
}
.divInfo button{
  //font-size: 12px;
  line-height: 1;
  color: rgba(43, 43, 43, 0.7);
  padding: 0;
}

::ng-deep .custom-style-add{
  background-color:green;
  color:white;
}
::ng-deep .custom-style-update{
  background-color:yellowgreen;
  color:white;
}
::ng-deep .custom-style-delete{
  background-color:brown;
  color:white;
}

.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 90%;
  margin: 0;

}
.app-sidenav {

  width: 280px;
  span{
    margin: 10px;
  }
}
.app-sidenav-content {
  align-items: center;
  justify-content: center;
}
mat-nav-list a {
  font-size: 14px;
}
mat-icon{
  margin: auto;
  border: none;
}
.nav-link{
  width: max-content;
  border-radius: 5px;
  padding: 10px;
}
.nav-link:hover{
  color: #673AB7
}
li > a.active {
  color: #673AB7
}

.container px-4{
  padding: 0 15px;
  button{
    margin: 0 15px;
    font-family: Poppins, sans-serif;
  }
  span{
    font-size: 16px;
  }
}
