<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="" *ngIf="errorMessage">{{ errorMessage }}</div>
      <form class="form-reset" name="resetForm" [formGroup]="resetForm">
        <div class="header">
          <h1> {{ title }} </h1>
        </div>
        <mat-form-field *ngIf="login.id && !emaillab"  class="full-width" appearance="fill">
          <mat-label>Ancien mot de passe</mat-label>
          <input matInput formControlName="oldPassword" [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="resetForm.controls['oldPassword'].errors">
            {{getErrorMessage(resetForm.controls['oldPassword'].errors)}}
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="emaillab" class="full-width" appearance="fill">
          <mat-label> Email </mat-label>
          <input matInput formControlName="email" type="text" required>
          <mat-error *ngIf="resetForm.controls['email'].errors">
            {{getErrorMessage(resetForm.controls['email'].errors)}}
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="!emaillab" class="full-width" appearance="fill">
          <mat-label> Mot de passe</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="resetForm.controls['password'].errors">
            {{getErrorMessage(resetForm.controls['password'].errors)}}
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="!emaillab" class="full-width" appearance="fill">
          <mat-label> Confirmez le mot de passe</mat-label>
          <input matInput formControlName="confirm" [type]="hide ? 'password' : 'text'" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off' }}</mat-icon>
          <mat-error *ngIf="resetForm.controls['confirm'].errors">
            {{getErrorMessage(resetForm.controls['confirm'].errors)}}
          </mat-error>
        </mat-form-field>
        <button [disabled]="!this.resetForm.valid" type="button" class="button-reset" mat-flat-button color="primary" (click)="Reset()"> {{ bouton }}</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
