.grid-container {
  margin: 20px;
  font-family: Poppins, sans-serif;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

mat-card-title{
  margin: 0;
  color: #9A9696;
}
table {
  width: 100%;
}
.small_card{
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.small_card div {
  font-size: 16px;
}
.small_card div .div1{
  margin: 20px 0;
  font-size: 20px;
}
.block{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
