<h1  mat-dialog-title> {{ title }} </h1>
<div class="" *ngIf="errorMessage">{{ errorMessage }}</div>
<div mat-dialog-content>
  <form [formGroup]="ReseauAccessForm">
    <mat-form-field appearance="outline">
      <mat-label> Agent </mat-label>
      <mat-select formControlName="acces" placeholder="Choisir l'acces" (selectionChange)="onChooseAcces()">
        <mat-option *ngFor="let acces of Acces" [value]="acces">{{acces.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="ReseauAccessForm.controls['acces'].errors">
        {{getErrorMessage(ReseauAccessForm.controls['acces'].errors)}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label> Sous Compte </mat-label>
      <mat-select formControlName="scompte" placeholder="Choisir le sous compte" (selectionChange)="onChooseScompte()">
        <mat-option *ngFor="let scompte of SCompte" [value]="scompte">{{scompte.sousCompteName}}</mat-option>
      </mat-select>
      <mat-error *ngIf="ReseauAccessForm.controls['scompte'].errors">
        {{getErrorMessage(ReseauAccessForm.controls['scompte'].errors)}}
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button style="margin-left:8px;" mat-raised-button color="primary" (click)="addAccesToScompte()"> {{actionBtn}} </button>
  <button mat-raised-button color="warn" mat-dialog-close="false"> Fermer </button>
</div>
