<div class="containerTable">
  <div style="margin-top: 10px;">

    <button (click)="add()" color="primary" id="btnAdd" mat-raised-button>
      <mat-icon>add_circle_outline</mat-icon>
      Ajouter Un Agent
    </button>

    <mat-form-field appearance="fill">
      <mat-label>Recherche</mat-label>
      <input #input (keyup)="applyFilter($event)" matInput placeholder="Filtrer l'Utilisateur">
    </mat-form-field>

    <mat-progress-bar *ngIf="!load" mode="query"></mat-progress-bar>

    <div class="mat-elevation-z8">
      <table [dataSource]="dataSource" mat-table matSort>
        <!-- Profil Column -->
        <ng-container matColumnDef="username">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Identifiant</th>
          <td *matCellDef="let row" mat-cell> {{row.username}} </td>
        </ng-container>

        <!-- Identifiant Column -->
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Nom</th>
          <td *matCellDef="let row" mat-cell> {{row.name}} </td>
        </ng-container>

        <!-- Numéro Column -->
        <ng-container matColumnDef="number">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Numero</th>
          <td *matCellDef="let row" mat-cell> {{row.number}} </td>
        </ng-container>

        <!-- Statut Column -->
        <ng-container matColumnDef="email">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Email</th>
          <td *matCellDef="let row" mat-cell> {{row.email}} </td>
        </ng-container>

        <!-- Statut Column -->
        <ng-container matColumnDef="roles">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Profil</th>
          <td *matCellDef="let row" mat-cell> {{ row.roles.name }} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Actions</th>
          <td *matCellDef="let row" mat-cell>
            <button #tooltip="matTooltip" (click)="update(row)"
                    *ngIf="authService.hasRole('COMMERCANT')"
                    color="primary"
                    mat-icon-button
                    matTooltip="Modifier" matTooltipPosition="left">
              <mat-icon>edit</mat-icon>
            </button>
            <button
              #tooltip="matTooltip" (click)="delete(row)"
              *ngIf="authService.hasRole('COMMERCANT')"
              color="warn"
              mat-icon-button
              matTooltip="Supprimer" matTooltipPosition="after">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
        <tr *matRowDef="let row; columns: columnsToDisplay;" mat-row></tr>

        <!-- Row shown when there is no matching data. -->
        <tr *matNoDataRow class="mat-row">
          <td class="mat-cell" colspan="5" *ngIf="input.value">Aucune recherche correspondant à "{{input.value}}"</td>
          <td class="mat-cell" colspan="5" *ngIf="!input.value">Vous n'avez aucun accès dans votre espace</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[8, 25,75, 100]" aria-label="Select page of users"
                     showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
