/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Poppin, sans-serif; }

.tool-tip-class {
  background: rgb(13, 59, 68);
  color: white;
  font-size: .9rem;
  text-align: justify;
}

.snack-warn {
  background-color: orange;
  color: white;
}

.custom-style-add{
  background-color:green;
  color:white;
}

.custom-style-update{
  background-color:yellowgreen;
  color:white;
}

.custom-style-delete{
  background-color:brown;
  color:white;
}
// charteGraphique
  // #56335b
  // #5B3F61
  // #5F4B66
  // #837C96
