/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
html, body { height: 100%; }
body { margin: 0; font-family: Poppin, sans-serif; }

.tool-tip-class {
  background: rgb(13, 59, 68);
  color: white;
  font-size: .9rem;
  text-align: justify;
}
// charteGraphique
  // #56335b
  // #5B3F61
  // #5F4B66
  // #837C96
